.filter{
    padding: 5px;
    /* flex: 0.3; */
    grid-area: filter;
}


.feedback{
    background-color: #36416A;
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 15px;
}

.filterOption{
    background-color: lightgrey;
    border: 1px solid transparent;
    border-radius: 15px;
    margin: 5px;
    padding: 2px 8px;
    color:#0f1d4f;
    cursor: pointer;
}
.active{
    background-color:#0f1d4f;
    border: 1px solid transparent;
    border-radius: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px 8px;
    color:white;
    cursor: pointer;
}
.filterContainer{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0 0 4px grey;
    border: 1px solid transparent;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .feedback{
        background-color: white;
        color: grey;
        font-size: 300;
    }
}